# ===== Application =====
APP_ENV=dev
LOG_LEVEL=INFO

# ===== Données =====
DATA_DIR=./data
RAW_DIR=./data/raw
PROCESSED_DIR=./data/processed
WAREHOUSE_DIR=./data/warehouse

# ===== DuckDB =====
DUCKDB_PATH=./data/warehouse/accidents.duckdb

# ===== Sources =====
ONISR_BASE_URL=https://www.data.gouv.fr/fr/datasets/r
ONISR_YEARS=2021,2022,2023,2024
METEO_BASE_URL=https://www.data.gouv.fr/fr/datasets/r

# ===== API =====
API_HOST=0.0.0.0
API_PORT=8000
API_PREFIX=/api/v1

# ===== Streamlit =====
STREAMLIT_PORT=8501

# ===== Airflow =====
AIRFLOW_HOME=./airflow
AIRFLOW__CORE__LOAD_EXAMPLES=False

# ===== ML =====
MODEL_DIR=./models
RANDOM_SEED=42
